body {
  font-family:
    Arial,
    sans-serif,
    맑은 고딕;
}

.app {
  margin: 0 auto;
  text-align: center;
}

.app ol {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 16px;
  padding: 0;
  margin: 0;
}
