<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bluenyang.practice.book.dao.BookDAO">

    <resultMap id="bookResult" type="kr.bluenyang.practice.book.model.Book">
        <result property="bookNo" column="BOOK_NO"/>
        <result property="bookName" column="BOOK_TITLE"/>
        <result property="bookAuthor" column="BOOK_AUTHOR"/>
        <result property="bookPrice" column="BOOK_PRICE"/>
        <result property="bookDate" column="BOOK_DATE"/>
        <result property="bookStock" column="BOOK_STOCK"/>
        <result property="pubNo" column="PUB_NO"/>
    </resultMap>

    <!-- 전체 도서 조회: select -->
    <select id="listAllBooks" resultMap="bookResult">
        select * from book order by book_no
    </select>

    <!-- 도서 상세 조회: select -->
    <select id="findBookByNo" parameterType="String" resultMap="bookResult">
        select * from book where book_no = #{bookNo}
    </select>

    <!-- 도서 등록: insert -->
    <insert id="insertBook" parameterType="kr.bluenyang.practice.book.model.Book">
        insert into book (book_no, book_name, book_author, book_price, book_date, book_stock, pub_no)
        values (#{bookNo}, #{bookName}, #{bookAuthor}, #{bookPrice}, #{bookDate}, #{bookStock}, #{pubNo})
    </insert>

    <!-- 도서 수정: update -->
    <update id="updateBook" parameterType="kr.bluenyang.practice.book.model.Book">
        update book
        set book_name = #{bookName},
        book_author = #{bookAuthor},
        book_price = #{bookPrice},
        book_date = #{bookDate},
        book_stock = #{bookStock},
        pub_no = #{pubNo}
        where book_no = #{bookNo}
    </update>

    <!-- 도서 삭제: delete -->
    <delete id="deleteBook" parameterType="String">
        delete from book where book_no = #{bookNo}
    </delete>
</mapper>