body {
  font-family:
    Arial,
    sans-serif,
    맑은 고딕;
}

.app {
  margin: 0;
  text-align: start;
}

.header {
  height: 40px;
  line-height: 40px;
  background-color: #777;
  text-align: center;
}

.contents p {
  margin-block: 0.7em;
}
