/* header */
header {
  position: fixed;
  width: 100%;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  height: 100px;
  padding-inline: 20px;
  background-color: #fff;
  z-index: 501;
}

.header-logo {
  height: 100px;
  padding-top: 30px;
}

header nav {
  display: flex;
  height: auto;
  padding: 0;
  padding-right: 30px;
  justify-content: space-between;
  flex: 1;
}

header .menu {
  display: flex;
  align-self: flex-start;
  gap: 30px;
  margin-left: 30px;
}

header .menu > li {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.menu-item {
  color: #b1b1b1;
  font-size: 16px;
}

.menu-item:hover {
  color: #333;
}

header nav .util {
  display: flex;
  align-self: flex-start;
}

header nav .util li a {
  position: relative;
  display: block;
  width: 28px;
  height: 28px;
  margin-left: 30px;
  transition: all 0.2s ease;
}

header nav .util li a svg {
  width: 100%;
  height: 100%;
}

.sr-only {
  display: inline-block;
  position: absolute;
  z-index: -1;
  height: 1px;
  border: 0;
  white-space: nowrap;
  overflow: hidden;
  clip: rect(1px);
  clip-path: inset(50%);
}

.wrap header nav .util li a .tool-tip {
  position: absolute;
  bottom: -35px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
  border: 1px solid black;
  padding: 4px 10px;
  min-height: 20px;
  font-size: 12px;
  background-color: #fff;
  opacity: 0;
  transition: opacity 0.2s ease;
}

.wrap header nav .util li a:hover .tool-tip {
  opacity: 1;
}

/* main */
.container {
  padding-top: 100px;
  padding-bottom: 300px;
}

.banner-wrap {
  width: 100%;
  overflow: hidden;
}

.swiper {
  width: 100%;
  padding-top: 10px;
  margin-bottom: 170px;
  background: #000;
  overflow: visible !important;
  position: relative;
}

.swiper-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  z-index: 1;
  display: flex;
  transition-property: transform;
  box-sizing: content-box;
}

.banner-wrap .swiper-slide {
  width: 750px;
  height: auto;
  flex-shrink: 0;
  position: relative;
  transition-property: transform;
}

.swiper-slide > a {
  position: static;
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.swiper-slide > a > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.banner-alt-wrapper {
  width: 550px;
  bottom: -125px;
  position: absolute;
  left: 0;
  z-index: 3;
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: column;
  transition: all 0.3s ease;
  gap: 10px;
}

.title-box {
  width: 100%;
  padding-inline: 80px;
  height: 80px;
  font-size: 32px;
  background-color: black;
  color: white;
  display: inline-flex;
  white-space: nowrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
  line-height: 26px;
}

.alt-title {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.desc-box {
  width: 100%;
  padding-inline: 80px;
  height: 80px;
  font-size: 32px;
  background-color: black;
  color: white;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  transition: all 0.3s ease;
}

.alt-desc {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
