<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bluenyang.practice.springbootex.cart.dao.CartDAO">

    <select id="getCartItems" parameterType="String"
            resultType="kr.bluenyang.practice.springbootex.cart.model.CartItemViewDTO"
    >
        SELECT c.cart_no, c.prd_no, c.cart_qty, p.prd_name, p.prd_price, p.prd_img
        FROM ex_cart c, ex_product p
        WHERE c.prd_no = p.prd_no AND c.mem_id = #{memId}
        ORDER BY prd_no
    </select>
</mapper>