<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.bluenyang.practice.springbootex.product.dao.ProductDAO">
    <resultMap id="prdResult" type="kr.bluenyang.practice.springbootex.product.model.Product">
        <result property="prdNo" column="prd_no"/>
        <result property="prdName" column="prd_name"/>
        <result property="prdCompany" column="prd_company"/>
        <result property="prdStock" column="prd_stock"/>
        <result property="prdDesc" column="prd_desc"/>
        <result property="prdImg" column="prd_img"/>
        <result property="ctgId" column="ctg_id"/>

        <association property="prdPrice" javaType="kr.bluenyang.practice.springbootex.product.vo.MoneyVO">
            <constructor>
                <arg column="prd_price" javaType="java.lang.Integer"/>
            </constructor>
        </association>
    </resultMap>

    <select id="getAllProductList" resultMap="prdResult">
        SELECT * FROM ex_product ORDER BY prd_no
    </select>

    <select id="getProductListByCtgId" parameterType="string" resultMap="prdResult">
        SELECT * FROM ex_product WHERE ctg_id=#{ctgId} ORDER BY prd_no
    </select>

    <select id="getProductById" parameterType="string" resultMap="prdResult">
        SELECT * FROM ex_product WHERE prd_no=#{prdNo}
    </select>
</mapper>