@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap");

:root {
    font-family: "Nanum Gothic Medium", "Nanum Gothic", sans-serif;
    font-size: 16px;
    background-color: #fff;
}

a {
    color: #005bff !important;
    margin: 0 !important;
    padding: 0 !important;
    text-decoration: none !important;
}

a:hover {
    text-decoration: underline !important;
}

