#app {
    min-height: 100vh;
    background: #fff;
    padding: 1rem;
}

.container {
    max-width: 42rem;
    margin-inline: auto;
    margin-block: 1.5rem;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar > h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

.content {
    padding: 1.5rem;
    border: 1px solid #d0d0d0;
    border-radius: 0.75rem;
}

.input-section {
    margin-block: 1rem;
}

.input-container {
    display: flex;
    gap: 0.5rem;
    justify-content: center;
    align-items: center;
}

.guess-input {
    width: 20rem;
    text-align: center;
    border: none;
    border-radius: 0.5rem;
    box-sizing: border-box;
    background-color: #ececf0;
    outline: none;
    transition: all 0.3s ease;
    padding: 0.5rem 1rem;
}

.guess-input:focus {
    outline: 0.2rem solid #a0a0a0;
}

.badge {
    background-color: #555;
    color: #fff;
    border-radius: 1rem;
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: bold;
}